@using Microsoft.AspNetCore.Identity;

@{
    var token = Context.Session.GetString("JWT");
}

<ul class="navbar-nav ms-auto">
    @if(!string.IsNullOrWhiteSpace(token))
    {
        <li class="nav-item">
            <a class="nav-link text-danger" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-danger" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>