@model Evento_Front_end.ViewModels.Company.ShowCompanyDetailsVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Company Details:</h1>
</div>


@if (Model?.Services != null)
{
    <ul>
        @foreach (var service in Model.Services)
        {
            <li>
                <strong>@service.Name</strong><br />
                @service.Description<br/>
                Price: @service.Price
            </li>
        }
    </ul>
}
else
{
    <p>No services found</p>
}

<a asp-action="Booking"
    asp-route-companyId="@Model.Company.CompanyID"
    class="button">
    Book Service
</a>
