@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Current Tasks:</h1>
</div>

<div class="topnav">
    <form method="get" asp-action="tasks">
        <input type="text" name="searchTerm" />
        <button type="submit">Search</button>
    </form>
</div>

