@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h1 class="access-denied">Access Denied</h1>
</div>

<div class="text-center">
    <h2 style="font-size:21px;">You're not authorized to view this page.</h2>
</div>
